<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%PRODUCTNAME%} {%IMAGE%} /// NODE FARM</title>
  </head>
  <body>
    <div class="container">
      <h1>🍒 Node Farm 🥑</h1>
      <figure class="product">
        <div class="product__organic {%NOT_ORGANIC%}">
          <h5>Organic</h5>
        </div>
        <a href="/overview" class="product__back">
          <span class="emoji-left">👈🏻</span>Back</a
        >
        <div class="product__hero">
          <span class="product__emoji product__emoji--1">{%IMAGE%}</span>
        </div>
      </figure>
    </div>
  </body>
</html>
